[Unit]
Description = sidekiq daemon

[Service]
#The path to the application code root directory for execute start
WorkingDirectory = /usr/local/rails_apps/Rails5Skeleton/current

ExecStart = /usr/local/rails_apps/Rails5Skeleton/shared/config/sidekiq.sh
Restart = always
Type = simple
User = deploy
Group = deploy

[Install]
WantedBy = multi-user.target
