instance_name_tags: # for aws
  staging:
    app: 
      - admin_tag_name  # for admin
      - front_tag_name  # for front
    worker:
      - tag_name
    batch:
      - tag_name

instance_ips: # for server sun
  staging:
    db:
      - 127.0.0.1
    app:
      - 127.0.0.1 # for admin
    worker:
      - 127.0.0.1
    batch:
      - 127.0.0.1
